@if (ViewBag.AssignedAgent != null)
{
    <div class="alert alert-info">
        <strong>Agent Assigned:</strong><br />
        @ViewBag.AssignedAgent.FullName (@ViewBag.AssignedAgent.Email)
    </div>

    <button class="btn btn-warning" onclick="showChange()">
        Change Agent
    </button>

    <form method="post" id="changeForm" style="display:none;" class="mt-3">

        <div class="mb-3">
            <label>Select New Agent</label>

            <select name="agentId" class="form-control">
                @foreach (var a in ViewBag.Agents)
                {
                    <option value="@a.AgentID">
                        @a.FullName (@a.Email)
                    </option>
                }
            </select>
        </div>

        <button class="btn btn-danger">Update Agent</button>

    </form>

    <script>
        function showChange() {
            document.getElementById("changeForm").style.display = "block";
        }
    </script>
}